.flexbox {
    display: flex;
    border: 2px solid rgb(16, 214, 16);
    padding: 20px;
}
.item {
    border: 2px solid red;
    padding: 20px;
}
#box1 {
    justify-content:space-evenly;
    background: darkblue;
}

#box2, #box3, #box4{
    justify-content:center;
}

#box3 {
    background: rgb(176, 217, 246);
}

#innerbox4 {
    background: skyblue;
}