@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
.flexbox {
    display: flex;
   
    padding: 20px;
}
.item {
   
    padding: 20px;
}
#box1 {
    justify-content:space-evenly;
    background: skyblue;
    border: 10px groove black;
}

#box2, #box3, #box4{
    justify-content:center;
}

#box3 {
    background: rgb(176, 217, 246);
    border: 10px groove black;
}

#innerbox4 {
    background: skyblue;
     border: 10px groove black;
}

hr{
border-width: 10px;
}

.box3 {
}
body{
    font-family:story script;
    background:beige;
}
img{
    border: 10px groove black;
}
